 <html> 
  <head>
    <title>Angular QuickStart JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="../angularVersion/node_modules/core-js/client/shim.min.js"></script>

    <script src="../angularVersion/node_modules/zone.js/dist/zone.js"></script>

    <script src="../angularVersion/node_modules/rxjs/bundles/Rx.js"></script>
    <script src="../angularVersion/node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="../angularVersion/node_modules/@angular/common/bundles/common.umd.js"></script>
    <script src="../angularVersion/node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="../angularVersion/node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="../angularVersion/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>

    <!-- 2. Load our 'modules' -->
    <script src='../angularVersion/app/app.component.js'></script>
    <script src='../angularVersion/app/app.module.js'></script>
    <script src='../angularVersion/app/main.js'></script>

  </head>
<body>
<my-app>Loading...</my-app>
<ul id="messages"><ul>
<form id="message-form">
    <input id="message-text" placeholder="Send A Message">
    <button type="submit">Send</button>
</form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
<script>
    // get UI components
    const messages = document.getElementById("messages");
    const messageForm = document.getElementById("message-form");
    const messageText = document.getElementById("message-text");

    // connect to socket
    const socket = io.connect("http://edamtoft.ad.dealeron.com:8080").io.socket("/rooms/angular2");
    
    // fetch old messages
    fetch("http://edamtoft.ad.dealeron.com:8080/api/rooms/angular2")
        .then(res => res.json())
        .then(room => {
            for (let msp of room.messages) appendMessage(msp);
            // subscribe to new messages
            socket.on("new", msg => appendMessage(msg));
        });
    
    // adds text of single message to UL as <li>{{msg.message}}</li>
    function appendMessage(msg) {
        const text = document.createTextNode(msg.message);
        const li = document.createElement("LI");
        li.appendChild(text);
        messages.appendChild(li);
    }

    // send new messages when form is submitted
    messageForm.addEventListener("submit", e => {
        e.preventDefault();
        socket.emit("send", messageText.value);
        messageText.value = "";
    });
</script>
</html>